<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>文档标题</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<body>
  <!-- 数据绑定 -->
  <div id="app">
    {{ message }}
  </div>
  <!-- 数据绑定 -->
  <div id="app-2">
    <span v-bind:title="message">
      鼠标悬停几秒钟查看此处动态绑定的提示信息！
    </span>
  </div>
  <!-- 条件语句 -->
  <div id="app-3">
    <p v-if="seen">现在你看到我了</p>
  </div>
  <!-- 循环语句 -->
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">{{todo.text}}</li>
    </ol>
  </div>
  <!-- 单击绑定 -->
  <div id="app-5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
  </div>
  <!-- 表单绑定 -->
  <div id="app-6">
    <p>{{message}}</p>
    <input type="text" v-model="message">
  </div>

  <div id="app-7">
    <ol>
      <!--
        现在我们为每个 todo-item 提供 todo 对象
        todo 对象是变量，即其内容可以是动态的。
        我们也需要为每个组件提供一个“key”，稍后再
        作详细解释。
      -->
      <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">
      </todo-item>
    </ol>
  </div>
</body>
<script src="base.js"></script>

</html>
